<?xml version="1.0" encoding="utf-8"?>
<!-- List of packages in this repository -->
<packages>		
    <package id="4k-slideshow-maker"/>
    <package id="4k-stogram"/>
    <package id="4k-video-downloader"/>
    <package id="4k-video-to-mp3"/>
    <package id="4k-youtube-to-mp3"/>
    <package id="advanced-installer"/>
    <package id="anydesk"/>
    <package id="anydesk.install"/>
    <package id="anydesk.portable"/>
    <package id="balabolka"/>
    <package id="balcon"/>
    <package id="bibletime"/>
    <package id="dolphin"/>
    <package id="dolphin-dev"/>
    <package id="dosbox"/>
    <package id="elgato-game-capture"/>
    <package id="fastest-mouse-clicker"/>
    <package id="filespy"/>
    <package id="hidevolumeosd"/>
    <package id="icecat"/>
    <package id="iceweasel"/>
    <package id="innoextract"/>
    <package id="innounp"/>
    <package id="iperf2"/>
    <package id="libdvdcss-2"/>
    <package id="looking-glass-host"/>
    <package id="maven"/>
    <package id="minecraft"/>
    <package id="minecraft-launcher"/>
    <package id="nextcloud-client"/>
    <package id="open-shell"/>
    <package id="openlp"/>
    <package id="pcsx2"/>
    <package id="pcsx2-dev"/>
    <package id="pcsx2.install"/>
    <package id="pcsx2.portable"/>
    <package id="procrastitracker"/>
    <package id="reflect-free"/>
    <package id="regeditor"/>
    <package id="rpcs3"/>
    <package id="rtx-voice"/>
    <package id="sumatrapdf"/>
    <package id="sumatrapdf.install"/>
    <package id="sumatrapdf.portable"/>
    <package id="vikunja-desktop"/>
    <package id="winbtrfs"/>
    <package id="winmd"/>
    <package id="winspy"/>
    <package id="wsus-offline-update"/>
    <package id="zfsin"/>
</packages>