<?xml version="1.0" encoding="utf-8"?>
<!-- List of packages in this repository -->
<packages>
    <package id="4k-slideshow-maker"/>
    <package id="4k-stogram"/>
    <package id="4k-tokkit"/>
    <package id="4k-video-downloader"/>
    <package id="4k-video-to-mp3"/>
    <package id="4k-youtube-to-mp3"/>
    <package id="adobereader-update"/>
    <package id="advanced-installer"/>
    <package id="amd-cleanup-utility"/>
    <package id="amd-software-adrenalin-edition"/>
    <package id="angryip"/>
    <package id="anydesk"/>
    <package id="anydesk.install"/>
    <package id="anydesk.portable"/>
    <package id="anydvd"/>
    <package id="balabolka"/>
    <package id="balcon"/>
    <package id="bibletime"/>
    <package id="choco-powershell"/>
    <package id="chocolateypowershell"/>
    <package id="d2"/>
    <package id="dolphin"/>
    <package id="dolphin-dev"/>
    <package id="dosbox"/>
    <package id="element-desktop"/>
    <package id="elgato-game-capture"/>
    <package id="fastest-mouse-clicker"/>
    <package id="fbx2gltf"/>
    <package id="filespy"/>
    <package id="flirc"/>
    <package id="g-helper"/>
    <package id="github-desktop"/>
    <package id="google-chrome-for-enterprise"/>
    <package id="GoogleChrome-AllUsers"/>
    <package id="googlechromecanary"/>
    <package id="googlechromedev"/>
    <package id="googleearth"/>
    <package id="gpu-z"/>
    <package id="grep"/>
    <package id="hexchat"/>
    <package id="hidevolumeosd"/>
    <package id="icecat"/>
    <package id="iceweasel"/>
    <package id="innoextract"/>
    <package id="innounp"/>
    <package id="iperf2"/>
    <package id="kiwix-desktop"/>
    <package id="libdvdcss-2"/>
    <package id="logitech-options"/>
    <package id="looking-glass-host-bleeding-edge"/>
    <package id="maven"/>
    <package id="mercury"/>
    <package id="minecraft"/>
    <package id="minecraft-launcher"/>
    <package id="mozillabuild"/>
    <package id="mssqlserver-compact3.5"/>
    <package id="nextcloud-client"/>
    <package id="onlyoffice"/>
    <package id="open-shell"/>
    <package id="openlp"/>
    <package id="openssh.install"/>
    <package id="openzfsonwindows"/>
    <package id="partition-assistant-standard"/>
    <package id="pcsx2"/>
    <package id="pcsx2-dev"/>
    <package id="pcsx2.install"/>
    <package id="pcsx2.portable"/>
    <package id="phantomjs"/>
    <package id="playnite"/>
    <package id="procrastitracker"/>
    <package id="reflect-free"/>
    <package id="regeditor"/>
    <package id="rpcs3"/>
    <package id="rtx-voice"/>
    <package id="sumatrapdf"/>
    <package id="sumatrapdf.commandline"/>
    <package id="sumatrapdf.install"/>
    <package id="sumatrapdf.portable"/>
    <package id="tinymediamanager.install"/>
    <package id="vikunja-desktop"/>
    <package id="vikunja-desktop-unstable"/>
    <package id="win-acme"/>
    <package id="win-acme-store-keyvault"/>
    <package id="win-acme-store-userstore"/>
    <package id="win-acme-trimmed"/>
    <package id="win-acme-validation-dns-aliyun"/>
    <package id="win-acme-validation-dns-azure"/>
    <package id="win-acme-validation-dns-cloudflare"/>
    <package id="win-acme-validation-dns-digitalocean"/>
    <package id="win-acme-validation-dns-dnsexit"/>
    <package id="win-acme-validation-dns-dnsmadeeasy"/>
    <package id="win-acme-validation-dns-domeneshop"/>
    <package id="win-acme-validation-dns-dreamhost"/>
    <package id="win-acme-validation-dns-godaddy"/>
    <package id="win-acme-validation-dns-googledns"/>
    <package id="win-acme-validation-dns-hetzner"/>
    <package id="win-acme-validation-dns-infomaniak"/>
    <package id="win-acme-validation-dns-linode"/>
    <package id="win-acme-validation-dns-luadns"/>
    <package id="win-acme-validation-dns-ns1"/>
    <package id="win-acme-validation-dns-rfc2136"/>
    <package id="win-acme-validation-dns-route53"/>
    <package id="win-acme-validation-dns-simply"/>
    <package id="win-acme-validation-dns-tencent"/>
    <package id="win-acme-validation-dns-transip"/>
    <package id="win-acme-validation-http-rest"/>
    <package id="winbtrfs"/>
    <package id="winmd"/>
    <package id="winspy"/>
    <package id="wsus-offline-update"/>
    <package id="wsus-offline-update-community"/>
    <package id="yt-dlp"/>
    <package id="zfsin"/>
</packages>